{% extends 'base.html' %}
{% load static %}

{% block title %}Infrastructure for Privacy-Assured CompuTations{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if not user.is_norole %}
            <div class="container">
                <div class="post">
                    <h2>{{ project.name }}
                        {% if user.is_piadmin or user.is_nsadmin %}
                            <a href="{% url 'project_edit' uuid=project.uuid %}"
                               title="Edit project" class="fa fa-fw fa-pencil" style="color: green;"></a>
                            <a href="{% url 'project_delete' uuid=project.uuid %}"
                               title="Delete project" class="fa fa-fw fa-trash" style="color: #B22222;"></a>
                        {% endif %}
                    </h2>
                    {% if user.is_piadmin or user.is_nsadmin %}
                        {% if not project.is_valid %}
                            <form method="POST" class="post-form">
                                {% csrf_token %}
                                <input type="submit" name="validate" value="Validate Now" style="color: darkgreen">
                            </form>
                        {% endif %}
                    {% endif %}
                    {% if project_error %}
                        <div style="background-color: cornsilk;color:darkblue;font-family:Courier;
                font-size: 14px;overflow-y: scroll; border-style: solid; border-color: #B22222;
                padding: 10px;">
                            {{ project_error }}
                        </div>
                    {% endif %}
                    <p>{{ project.description|linebreaksbr }}</p>
                    <h3>Affiliations</h3>
                    <ul>
                        {% for affiliation in project.affiliation %}
                            <li>{{ affiliation }}</li>
                        {% endfor %}
                    </ul>
                    <form method="POST" class="post-form">
                        <h3>Personnel
                            {% if user.is_piadmin or user.is_nsadmin %}
                                {% csrf_token %}
                                <input style="font-family: FontAwesome;color: green;
                                border: none; background: none" name="refresh-personnel"
                                       title="Refresh personnel" value="&#xf021;" type="submit">
                            {% endif %}
                        </h3>
                    </form>
                    <b>Project PI Admins</b>
                    <table width="100%" border="1px solid black" cellpadding="5px">
                        <tr>
                            <td align="center"><b>Group</b></td>
                            <td align="center"><b>Name</b></td>
                            <td align="center"><b>COmanage ID</b></td>
                            <td align="center"><b>eppn</b></td>
                            <td align="center"><b>email</b></td>
                        </tr>
                        {% for group, name, employee_number, eppn, email in project_pi_admins %}
                            <tr
                                    {% if email == user.email %}
                                        style="color: darkgreen"
                                    {% else %}
                                        style="color: darkgray"
                                    {% endif %}
                            >
                                <td>{{ group|slice:"7:" }}</td>
                                <td>{{ name }}</td>
                                <td>{{ employee_number }}</td>
                                <td>{{ eppn }}</td>
                                <td>{{ email }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <b>Project PI Members</b>
                    <table width="100%" border="1px solid black" cellpadding="5px">
                        <tr>
                            <td align="center"><b>Group</b></td>
                            <td align="center"><b>Name</b></td>
                            <td align="center"><b>COmanage ID</b></td>
                            <td align="center"><b>eppn</b></td>
                            <td align="center"><b>email</b></td>
                        </tr>
                        {% for group, name, employee_number, eppn, email in project_pi_members %}
                            <tr
                                    {% if email == user.email %}
                                        style="color: darkgreen"
                                    {% else %}
                                        style="color: darkgray"
                                    {% endif %}
                            >
                                <td>{{ group|slice:"7:" }}</td>
                                <td>{{ name }}</td>
                                <td>{{ employee_number }}</td>
                                <td>{{ eppn }}</td>
                                <td>{{ email }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <b>Project Members</b>
                    <table width="100%" border="1px solid black" cellpadding="5px">
                        <tr>
                            <td align="center"><b>Group</b></td>
                            <td align="center"><b>Name</b></td>
                            <td align="center"><b>COmanage ID</b></td>
                            <td align="center"><b>eppn</b></td>
                            <td align="center"><b>email</b></td>
                        </tr>
                        {% for group, name, employee_number, eppn, email in project_staff %}
                            <tr
                                    {% if email == user.email %}
                                        style="color: darkgreen"
                                    {% else %}
                                        style="color: darkgray"
                                    {% endif %}
                            >
                                <td>{{ group|slice:"7:" }}</td>
                                <td>{{ name }}</td>
                                <td>{{ employee_number }}</td>
                                <td>{{ eppn }}</td>
                                <td>{{ email }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <b>Infrastructure Providers</b>
                    <table width="100%" border="1px solid black" cellpadding="5px">
                        <tr>
                            <td align="center"><b>Group</b></td>
                            <td align="center"><b>Name</b></td>
                            <td align="center"><b>COmanage ID</b></td>
                            <td align="center"><b>eppn</b></td>
                            <td align="center"><b>email</b></td>
                        </tr>
                        {% for group, name, employee_number, eppn, email in project_inp %}
                            <tr
                                    {% if email == user.email %}
                                        style="color: darkgreen"
                                    {% else %}
                                        style="color: darkgray"
                                    {% endif %}
                            >
                                <td>{{ group|slice:"7:" }}</td>
                                <td>{{ name }}</td>
                                <td>{{ employee_number }}</td>
                                <td>{{ eppn }}</td>
                                <td>{{ email }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <b>Institutional Governance</b>
                    <table width="100%" border="1px solid black" cellpadding="5px">
                        <tr>
                            <td align="center"><b>Group</b></td>
                            <td align="center"><b>Name</b></td>
                            <td align="center"><b>COmanage ID</b></td>
                            <td align="center"><b>eppn</b></td>
                            <td align="center"><b>email</b></td>
                        </tr>
                        {% for group, name, employee_number, eppn, email in project_ig %}
                            <tr
                                    {% if email == user.email %}
                                        style="color: darkgreen"
                                    {% else %}
                                        style="color: darkgray"
                                    {% endif %}
                            >
                                <td>{{ group|slice:"7:" }}</td>
                                <td>{{ name }}</td>
                                <td>{{ employee_number }}</td>
                                <td>{{ eppn }}</td>
                                <td>{{ email }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <h3>Infrastructure</h3>
                    <table width="100%" border="1px solid black" cellpadding="5px">
                        <tr>
                            <td align="center"><b>Name</b></td>
                            <td align="center"><b>Validated</b></td>
                            <td align="center"><b>
                                {% if user.show_uuid %}
                                    UUID
                                {% else %}
                                    Description
                                {% endif %}
                            </b></td>
                            <td align="center"><b>Affiliation (== PI Affiliation)</b></td>
                        </tr>
                        {% for infra in infrastructure %}
                            <tr>
                            <td>{{ infra.name }}</td>
                            <td align="center">{% if infra.is_valid %}
                                <i class="fa fa-fw fa-check" style="color: green;"></i>
                            {% else %}
                                <i class="fa fa-fw fa-remove" style="color: #B22222;"></i>
                            {% endif %}
                            </td>
                            <td style="font-family: Courier"><a href="{% url 'infrastructure_detail' uuid=infra.uuid %}"
                                                                title="Infrastructure Details">
                                {% if user.show_uuid %}
                                    {{ infra.uuid }}
                                {% else %}
                                    {{ infra.description|truncatechars:"57" }}
                                {% endif %}
                            </a></td>
                            <td>
                                {{ infra.affiliation }}
                                {% if infra.affiliation in project.affiliation %}
                                    (<i class="fa fa-fw fa-check" style="color: green;"></i>)
                                {% else %}
                                    (<i class="fa fa-fw fa-remove" style="color: #B22222;"></i>)
                                {% endif %}
                            </td>
                        {% endfor %}
                    </table>
                    <br>
                    <h3>Datasets</h3>
                    <table width="100%" border="1px solid black" cellpadding="5px">
                        <tr>
                            <td align="center"><b>Name</b></td>
                            <td align="center"><b>Validated</b></td>
                            <td align="center"><b>
                                {% if user.show_uuid %}
                                    UUID
                                {% else %}
                                    Description
                                {% endif %}
                            </b></td>
                        </tr>
                        {% for dataset in datasets %}
                            <tr>
                            <td>
                                <button
                                        onclick="location.href = '{% url 'dataset_access' uuid=dataset.uuid %}?project_uuid={{ project.uuid | urlencode }}';"
                                        id="get-dataset-access"
                                        style="color: deeppink;"
                                >Get Access
                                </button>
                                {{ dataset.name }}
                            </td>
                            <td align="center">{% if dataset.is_valid %}
                                <i class="fa fa-fw fa-check" style="color: green;"></i>
                            {% else %}
                                <i class="fa fa-fw fa-remove" style="color: #B22222;"></i>
                            {% endif %}
                            </td>
                            <td style="font-family: Courier"><a href="{% url 'dataset_detail' uuid=dataset.uuid %}"
                                                                title="Dataset Details">
                                {% if user.show_uuid %}
                                    {{ dataset.uuid }}
                                {% else %}
                                    {{ dataset.description|truncatechars:"57" }}
                                {% endif %}
                            </a>
                            </td>
                        {% endfor %}
                    </table>
                    <br>
                    <h3>Workflows</h3>
                    {% if user.is_piadmin or user.is_nsadmin %}
                        <form method="POST" class="post-form">
                            {% csrf_token %}
                            {% if project.is_valid %}
                                <input type="submit" name="generate_workflow" value="Generate Workflow(s)"
                                       style="color: darkgreen">
                            {% else %}
                                <input type="submit" name="generate_workflow" value="Generate Workflow(s)"
                                       style="color: grey"
                                       disabled>
                            {% endif %}
                        </form>
                        <br>
                    {% endif %}
                    <table width="100%" border="1px solid black" cellpadding="5px">
                        <tr>
                            <td align="center"><b>Name</b></td>
                            <td align="center"><b>Loaded</b></td>
                            <td align="center"><b>
                                {% if user.show_uuid %}
                                    UUID
                                {% else %}
                                    Description
                                {% endif %}
                            </b></td>
                            <td align="center"><b>Provenance</b></td>
                        </tr>
                        {% for workflow in workflows %}
                            <tr>
                                <td>{{ workflow.name }}</td>
                                <td align="center">{% if workflow.loaded_in_neo4j %}
                                    <i class="fa fa-fw fa-check" style="color: green;"></i>
                                {% else %}
                                    <i class="fa fa-fw fa-remove" style="color: #B22222;"></i>
                                {% endif %}
                                </td>
                                <td style="font-family: Courier"><a
                                        href="{% url 'workflow_detail' uuid=workflow.uuid %}"
                                        title="Workflow Details">
                                    {% if user.show_uuid %}
                                        {{ workflow.uuid }}
                                    {% else %}
                                        {{ workflow.description|truncatechars:"57" }}
                                    {% endif %}
                                </a></td>
                                <td><b>D:</b> {{ workflow.dataset.name }}<br><b>T:</b> {{ workflow.template.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <br>
                <table width="100%" style="font-size: small">
                    <tr>
                        <td width="60%">
                            <b>Created By:</b> {{ project.created_by }}
                        </td>
                        <td>
                            <b>Modified By:</b> {{ project.modified_by }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Created Date:</b> {{ project.created_date|date:"m/d/Y g:i a" }}
                        </td>
                        <td>
                            <b>Modified Date:</b> {{ project.modified_date|date:"m/d/Y g:i a" }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Validated:</b> {{ project.is_valid }}
                            {% if project.is_valid %}
                                (<i class="fa fa-fw fa-check" style="color: green;"></i>)
                            {% else %}
                                (<i class="fa fa-fw fa-remove" style="color: #B22222;"></i>)
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}
    {% else %}
        <div class="container">
            <p>You are not currently logged in or not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}