{% extends 'base.html' %}
{% load static user_tags %}

{% block title %}Infrastructure for Privacy-Assured CompuTations{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_nsadmin or user in project_pi_admins %}
            <div class="container">
                <div class="post">
                    <h1 style="color: #B22222;">Are you sure you want to delete?</h1>
                    <h2>
                        {% if project.is_public %}
                            {{ project.name }} <a class="text-info" style="font-size: medium">(public)</a>
                        {% else %}
                            {{ project.name }} <a class="text-info" style="font-size: medium">(private)</a>
                        {% endif %}
                        <button class="btn btn-success mr-2">
                            <a href="{% url 'project_detail' uuid=project.uuid %}" class="unlink text-white">
                                <i class="fa fa-ban mr-1"></i> Cancel
                            </a>
                        </button>
                    </h2>
                    <p>{{ project.description|linebreaksbr }}</p>
                    <h3>Affiliations</h3>
                    <ul>
                        {% for affiliation in affiliations %}
                            <li>{{ affiliation.name }}</li>
                        {% endfor %}
                    </ul>
                    <h3>Personnel</h3>
                    <b>Project Management</b>
                    <ul>
                        {% for p in project_pi_admins %}
                            <li>{{ p.display_name }} | {{ p.affiliation.name }}</li>
                        {% endfor %}
                    </ul>
                    <b>Project PIs and Co-PIs</b>
                    <ul>
                        {% for p in project_pi_members %}
                            <li>{{ p.display_name }} | {{ p.affiliation.name }}</li>
                        {% endfor %}
                    </ul>
                    <b>Project Staff</b>
                    <ul>
                        {% for p in project_staff %}
                            <li>{{ p.display_name }} | {{ p.affiliation.name }}</li>
                        {% endfor %}
                    </ul>
                    <h3>Infrastructure</h3>
                    <table width="100%" border="1px solid black" cellpadding="5px">
                        <tr>
                            <td align="center"><b>Name</b></td>
                            <td align="center"><b>Validated</b></td>
                            <td align="center"><b>
                                {% if user.show_uuid %}
                                    UUID
                                {% else %}
                                    Description
                                {% endif %}
                            </b></td>
                            <td align="center"><b>Affiliation</b></td>
                        </tr>
                        {% if project.infrastructure %}
                            <tr>
                            <td>{{ project.infrastructure.name }}</td>
                            <td align="center">{% if infra.is_valid %}
                                <i class="fa fa-fw fa-check" style="color: green;"></i>
                            {% else %}
                                <i class="fa fa-fw fa-remove" style="color: #B22222;"></i>
                            {% endif %}
                            </td>
                            <td style="font-family: Courier"><a
                                    href="{% url 'infrastructure_detail' uuid=project.infrastructure.uuid %}"
                                    title="Infrastructure Details">
                                {{ project.infrastructure.description }}
                            </a></td>
                            <td>
                                {{ project.infrastructure.affiliation.name }}
                            </td>
                        {% endif %}
                    </table>
                    <br>
                    <h3>Datasets</h3>
                    <table width="100%" border="1px solid black" cellpadding="5px">
                        <tr>
                            <td align="center"><b>Name</b></td>
                            <td align="center"><b>Validated</b></td>
                            <td align="center"><b>
                                {% if user.show_uuid %}
                                    UUID
                                {% else %}
                                    Description
                                {% endif %}
                            </b></td>
                        </tr>
                        {% for dataset in datasets %}
                            <tr>
                            <td>{{ dataset.name }}</td>
                            <td align="center">{% if dataset.is_valid %}
                                <i class="fa fa-fw fa-check" style="color: green;"></i>
                            {% else %}
                                <i class="fa fa-fw fa-remove" style="color: #B22222;"></i>
                            {% endif %}
                            </td>
                            <td style="font-family: Courier"><a href="{% url 'dataset_detail' uuid=dataset.uuid %}"
                                                                title="Dataset Details">
                                {% if user.show_uuid %}
                                    {{ dataset.uuid }}
                                {% else %}
                                    {{ dataset.description|truncatechars:"57" }}
                                {% endif %}
                            </a></td>
                        {% endfor %}
                    </table>
                    <br>
                    <h3>Workflows</h3>
                    <table width="100%" border="1px solid black" cellpadding="5px">
                        <tr>
                            <td align="center"><b>Name / Affiliation</b></td>
                            <td align="center"><b>Loaded</b></td>
                            <td align="center"><b>
                                {% if user.show_uuid %}
                                    UUID
                                {% else %}
                                    Description
                                {% endif %}
                            </b></td>
                            <td align="center"><b>Provenance</b></td>
                        </tr>
                        {% for workflow in workflows %}
                            <tr>
                                <td>
                                    {{ workflow.name }}
                                    <br>
                                    {{ workflow.affiliation.name }}
                                </td>
                                <td align="center">{% if workflow.loaded_in_neo4j %}
                                    <i class="fa fa-fw fa-check" style="color: green;"></i>
                                {% else %}
                                    <i class="fa fa-fw fa-remove" style="color: #B22222;"></i>
                                {% endif %}
                                </td>
                                <td style="font-family: Courier"><a
                                        href="{% url 'workflow_detail' uuid=workflow.uuid %}"
                                        title="Workflow Details">
                                    {% if user.show_uuid %}
                                        {{ workflow.uuid }}
                                    {% else %}
                                        {{ workflow.description|truncatechars:"57" }}
                                    {% endif %}
                                </a></td>
                                <td><b>D:</b> {{ workflow.dataset.name }}<br><b>T:</b> {{ workflow.template.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                </div>
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <input type="submit" value="Delete" style="color: #B22222;">
                </form>
                <br>
                <table width="100%" style="font-size: small">
                    <tr>
                        <td width="60%">
                            <b>Created By:</b> {{ project.created_by }}
                        </td>
                        <td>
                            <b>Modified By:</b> {{ project.modified_by }}
                        </td>
                        </td>
                    <tr>
                        <td>
                            <b>Created Date:</b> {{ project.created }}
                        </td>
                        <td>
                            <b>Modified Date:</b> {{ project.modified }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Validated:</b> {{ project.is_valid }}
                            {% if project.is_valid %}
                                (<i class="fa fa-fw fa-check" style="color: green;"></i>)
                            {% else %}
                                (<i class="fa fa-fw fa-remove" style="color: #B22222;"></i>)
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}
    {% else %}
        <div class="container">
            <p>You are not currently logged in or not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}
