*.egg
*.egg-info
*.py[cod]
.coverage
.DS_Store
.idea
.pytest_cache
.venv
base.sock
base/.env
base/secrets.py
cover/*
migrations
neo4j
nginx/default.conf
nosetests.xml
static/*
venv
xunittest.xml
xunittest.xml
__pycache__
