*.egg
*.egg-info
*.py[cod]
.coverage
.DS_Store
.env
.idea
.pytest_cache
.venv
base.sock
base/.env
base/secrets.py
!base/static
cover/*
kafka
media
!media/.include_this_dir
migrations
neo4j
nginx/default.conf
nosetests.xml
pg_data
sample_data
static
!static/.include_this_dir
venv
!workflows/static
xunittest.xml
xunittest.xml
__pycache__
