# docker-compose environment file
#
# When you set the same environment variable in multiple files,
# here’s the priority used by Compose to choose which value to use:
#
#  1. Compose file
#  2. Shell environment variables
#  3. Environment file
#  4. Dockerfile
#  5. Variable is not defined

# database PostgreSQL - default values should not be used in production
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
PGDATA=/var/lib/postgresql/data
POSTGRES_DB=postgres
POSTGRES_PORT=5432

# django
UWSGI_UID=1000
UWSGI_GID=1000

# nginx
NGINX_DEFAULT_CONF=./nginx/default.conf
NGINX_SSL_CERT=./ssl/ssl_dev.crt
NGINX_SSL_KEY=./ssl/ssl_dev.key

# neo4J
NEO4J_UID=1000
NEO4J_GID=1000
NEO4J_DATA_PATH_HOST=./neo4j/data
NEO4J_DATA_PATH_DOCKER=/data
NEO4J_IMPORTS_PATH_HOST=./neo4j/imports
NEO4J_IMPORTS_PATH_DOCKER=/imports
NEO4J_LOGS_PATH_HOST=./neo4j/logs
NEO4J_LOGS_PATH_DOCKER=/logs
NEO4J_BOLT_URL=bolt://127.0.0.1:7687
NEO4J_USER=neo4j
NEO4J_PASS=password