# docker-compose environment file
#
# When you set the same environment variable in multiple files,
# here’s the priority used by Compose to choose which value to use:
#
#  1. Compose file
#  2. Shell environment variables
#  3. Environment file
#  4. Dockerfile
#  5. Variable is not defined

# Kafka configuration
KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
KAFKA_DATA_PATH_HOST=./kafka
KAFKA_LISTENERS=PLAINTEXT://:9092
KAFKA_SEND_KEY=ns-dev-1
KAFKA_SERVERS=kafka:9092
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181

# Neo4J configuration
NEO4J_BOLT_URL=bolt://neo4j:7687
NEO4J_DATA_PATH_DOCKER=/data
NEO4J_DATA_PATH_HOST=./neo4j/data
NEO4J_GID=1000
NEO4J_HOST=neo4j
NEO4J_IMPORTS_PATH_DOCKER=/imports
NEO4J_IMPORTS_PATH_HOST=./neo4j/imports
NEO4J_LOGS_PATH_DOCKER=/logs
NEO4J_LOGS_PATH_HOST=./neo4j/logs
NEO4J_PASS=password
NEO4J_UID=1000
NEO4J_USER=neo4j

# Nginx configuration
NGINX_DEFAULT_CONF=./nginx/default.conf
NGINX_SSL_CERTS_DIR=./ssl

# Notary Service
NS_NAME=localhost
NS_PRESIDIO_JWT_PUBLIC_KEY_PATH=''
NS_PRESIDIO_JWT_PRIVATE_KEY_PATH=''

# PostgreSQL database - default values should not be used in production
PGDATA=/var/lib/postgresql/data
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres

# uWSGI services in Django
UWSGI_GID=1000
UWSGI_UID=1000
