--editable ./lib/ns_workflow # ns-workflow==0.1
coverage==4.5.4
cryptography==2.8
django-cleanup
django-crispy-forms==1.8.0
django-nose==1.4.6
Django==2.2.6
kafka-python==1.4.7
ldap3==2.6
mozilla-django-oidc==1.2.2
ns-jwt==0.1.2
psycopg2-binary==2.8.4
pycryptodome==3.9.0
PyJWT==1.7.1
pytest-cov==2.8.1
pytest-django==3.6.0
pytest==5.2.2
python-dateutil==2.8.0
python-dotenv==0.10.3
pytz==2019.3
requests-oauthlib==1.2.0
simplejson==3.16.0
uWSGI==2.0.18