coverage==4.5.2
django-cleanup
django-crispy-forms==1.7.2
django-nose==1.4.6
Django==2.1.7
ldap3==2.5.2
mozilla-django-oidc==1.2.1
--editable ./lib/ns_jwt # ns-jwt==0.1
--editable ./lib/ns_workflow # ns-workflow==0.1
psycopg2-binary==2.7.7
pytest==4.3.0
pytest-cov==2.6.1
pytest-django==3.4.7
python-dotenv==0.10.1
pytz==2018.9
uWSGI==2.0.18
PyJWT==1.7.1
python-dateutil==2.8.0
