{% load static user_tags %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css">
<nav class="navbar sticky-top navbar-expand-lg navbar-dark px-sm-4">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'index' %}">
    <img src="{% static 'img/logo/impact-logo-color.png' %}" height="40">
    Notary Service
  </a>
  <div class="collapse navbar-collapse" id="navbarToggler">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-fw fa-info-circle"></i>About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'about' %}"><i class="fa fa-fw fa-info-circle"></i>Overview</a>
          <a class="dropdown-item" href="{% url 'faq' %}"><i class="fa fa-fw fa-question-circle"></i>FAQ</a>
        </div>
      </li>
      {% if user.is_authenticated %}
        {% display_projects as show_projects %}
        {% if show_projects %}
          <li class="nav-item {{ projects_page }}">
            <a class="nav-link" href="{% url 'projects' %}">
                <i class="fa fa-fw fa-folder-open"></i> Projects</a>
          </li>
        {% endif %}
        {% display_datasets as show_datasets %}
        {% if show_datasets %}
          <li class="nav-item {{ datasets_page }}">
            <a class="nav-link" href="{% url 'datasets' %}">
              <i class="fa fa-fw fa-database"></i> Datasets
            </a>
          </li>
        {% endif %}
        {% display_templates as show_templates %}
        {% if show_templates %}
          <li class="nav-item {{ templates_page }}">
            <a class="nav-link" href="{% url 'templates' %}">
                <i class="fa fa-fw fa-code"></i> Templates</a>
          </li>
        {% endif %}
        {% display_infrastructure as show_infrastructure %}
        {% if show_infrastructure %}
          <li class="nav-item {{ infrastructure_page }}">
            <a class="nav-link" href="{% url 'infrastructure' %}">
              <i class="fa fa-fw fa-gears"></i> Infrastructure</a>
          </li>
        {% endif %}
        {% if user.is_nsadmin %}
        <li class="nav-item {{ debug_page }}">
          <a class="nav-link" href="{% url 'debug' %}">
            <i class="fa fa-fw fa-bug"></i>Debug
          </a>
        </li>
        {% endif %}
        <li class="nav-item d-lg-none {{ profile_page }}">
          <a class="nav-link" href="{% url 'profile' %}">
              <i class="fa fa-fw fa-user"></i>Profile</a>
        </li>
        <li class="nav-item d-lg-none {{ logout_page }}">
          <a class="nav-link" href="{% url 'logout' %}">
            <i class="fa fa-fw fa-sign-out"></i> Logout</a>
        </li>
      </ul>
      {% display_search as show_search %}
      <!-- {% if show_search %}
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 mr-3" type="submit"><i class="fa fa-fw fa-search"></i></button>
        </form>
      {% endif %} -->
      <button id="profileBtn" class="btn btn-info ml-sm-0 my-sm-2 d-none d-lg-block"><i class="fa fa-fw fa-user"></i></button>
    </div>
    <div id="profileCard" class="card text-center">
      <div class="card-header">
        <b>{{ user.username }}</b>
      </div>
      <div class="card-body">
        <p class="card-subtitle mb-2 pb-0">
          Your current user role is <em><b>{{ user.role|rolename }}</b></em>
        </p>
        <a class="btn btn-outline-info mr-2 my-0" href="{% url 'profile' %}"><i class="fa fa-fw fa-user"></i>Profile</a>
        <a class="btn btn-outline-info ml-sm-0 my-0 mr-0" href="{% url 'logout' %}"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
      </div>
    </div>
  {% else %}
    <ul class="navbar-nav ns-navbar">
      <li class="nav-item {{ login_page }}">
        <a class="nav-link" href="{% url 'oidc_authentication_init' %}">
          <i class="fa fa-fw fa-sign-in"></i> Login
        </a>
      </li>
    </ul>
  {% endif %}
</nav>
<script type="text/javascript">
  $('#profileBtn').click(function() {        
      $('#profileCard').toggle();
  });
</script>