{% load static user_tags %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/ns-navbar.css' %}" type="text/css">
<nav class="navbar sticky-top navbar-expand-lg navbar-dark p-0">
    <a class="navbar-brand text-secondary p-0" href="{% url 'index' %}">
        <img src="{% static 'img/logo/impact-logo-1600x752.png' %}" height="40">
        NotaryService
    </a>
    <ul class="navbar-nav ns-navbar">
        {#        <li class="nav-item {{ index_page }}">#}
        {#            <a class="nav-link" href="{% url 'index' %}">#}
        {#                <i class="fa fa-fw fa-home"></i> Home</a>#}
        {#        </li>#}
        <li class="nav-item {{ about_page }}">
            <a class="nav-link" href="{% url 'about' %}">
                <i class="fa fa-fw fa-info-circle"></i> About</a>
        </li>
        <li class="nav-item {{ faq_page }}">
            <a class="nav-link" href="{% url 'faq' %}">
                <i class="fa fa-fw fa-question-circle"></i> FAQ</a>
        </li>
        {#        <li class="nav-item {{ contact_page }}">#}
        {#            <a class="nav-link" href="{% url 'contact' %}">#}
        {#                <i class="fa fa-fw fa-envelope"></i> Contact</a>#}
        {#        </li>#}
    </ul>
    {% if user.is_authenticated %}
        <ul class="navbar-nav ns-navbar">
            {% display_search as show_search %}
            {% if show_search %}
                <li class="nav-item {{ search_page }}">
                    <a class="nav-link" href="{% url 'search' %}">
                        <i class="fa fa-fw fa-search"></i> Search</a>
                </li>
            {% endif %}
            {% display_projects as show_projects %}
            {% if show_projects %}
                <li class="nav-item {{ projects_page }}">
                    <a class="nav-link" href="{% url 'projects' %}">
                        <i class="fa fa-fw fa-folder-open"></i> Projects</a>
                </li>
            {% endif %}
            {% display_datasets as show_datasets %}
            {% if show_datasets %}
                <li class="nav-item {{ datasets_page }}">
                    <a class="nav-link" href="{% url 'datasets' %}">
                        <i class="fa fa-fw fa-database"></i> Datasets</a>
                </li>
            {% endif %}
            {% display_templates as show_templates %}
            {% if show_templates %}
                <li class="nav-item {{ templates_page }}">
                    <a class="nav-link" href="{% url 'templates' %}">
                        <i class="fa fa-fw fa-code"></i> Templates</a>
                </li>
            {% endif %}
            {% display_infrastructure as show_infrastructure %}
            {% if show_infrastructure %}
                <li class="nav-item {{ infrastructure_page }}">
                    <a class="nav-link" href="{% url 'infrastructure' %}">
                        <i class="fa fa-fw fa-gears"></i> Infrastructure</a>
                </li>
            {% endif %}
            <li class="nav-item {{ profile_page }}">
                <a class="nav-link" href="{% url 'profile' %}">
                    <i class="fa fa-fw fa-user"></i> {{ user.username }} ({{ user.role|rolename }})</a>
            </li>
            {% if user.is_nsadmin %}
                <li class="nav-item {{ debug_page }}">
                    <a class="nav-link" href="{% url 'debug' %}">
                        <i class="fa fa-fw fa-bug"></i> Debug</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav ns-navbar">
            <li class="nav-item {{ logout_page }}">
                <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fa fa-fw fa-sign-out"></i> Logout</a>
            </li>
        </ul>
    {% else %}
        <ul class="navbar-nav ns-navbar">
            <li class="nav-item {{ login_page }}">
                <a class="nav-link" href="{% url 'oidc_authentication_init' %}">
                    <i class="fa fa-fw fa-sign-in"></i> Login</a>
            </li>
        </ul>
    {% endif %}
</nav>
