{% extends 'base.html' %}
{% load static %}


{% block title %}ImPACT Notary Service - Signup{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Signing Up for ImPACT - Step 1</h2>
        <br>
        <div>
            <p>Dear Researcher,</p>
            <p>Welcome to ImPACT! Before you sign up we would like you to familiarize yourself with our project
                <a href="https://cyberimpact.us" target="_blank">Infrastructure for Privacy-Assured CompuTations</a>.
            </p>
            <p>
                In order to begin using the ImPACT Notary Service you will have to take the following steps:
            </p>
            <ul>
                <li>Click ‘Proceed’ and you will be redirected to a
                    <a href="https://www.cilogon.org/" target="_blank" rel="noreferrer">CI Logon</a>
                    page, where you can select your institution and login using your
                    <i>institutional username and password</i>.
                </li>
                <li>After logging in you will be redirected to an enrollment page in ImPACT’s <a
                        href="https://www.incommon.org/software/comanage/" target="_blank" rel="noreferrer">COmanage
                    Registry</a> which will display your name, email and institution. Please verify those and <b>you
                    will be redirected back to this site for more instructions.</b></li>
            </ul>
            <p>
                Please note: you will <b>always</b> use your institutional credentials to login to the ImPACT Notary
                Service via your institution's Identity Provider - <b>we do not and will never store your password or
                login information</b>. Any password changes that you go through with your institutional account will
                also affect how you login to the ImPACT Notary Service.
            </p>
        </div>
        <div class="text-center">
            <button class="btn btn-success mr-2">
                    <a href="{{ enrollment_url }}" class="unlink text-white">
                        <i class="fa fa-hand-o-right mr-2"></i> Proceed
                    </a>
                </button>
        </div>
    </div>
{% endblock %}