{% extends 'base.html' %}
{% load static %}


{% block title %}ImPACT Notary Service - Signup{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="text-center">Signing Up for ImPACT - Step 2</h2>
        <br>
        <div>
            <p>Dear Researcher,</p>
            <p>Congratulations on completing the first step of the enrollment:</p>
            <ul>
                <li>
                    Please check your email (including Spam/Junk) for a confirmation email from ImPACT COmanage
                    Registry. Follow the instructions in the email to confirm your email address by clicking the
                    indicated link.
                </li>
                <li>
                    The link will take you back to the COmanage site (you will once again login using CI Logon). Once
                    your email is confirmed <b>you will be redirected back to this site for more instructions.</b>
                </li>
            </ul>
            <p>
                Please note: you will <b>always</b> use your institutional credentials to login to the ImPACT Notary
                Service via your institution's Identity Provider - <b>we do not and will never store your password or
                login information</b>. Any password changes that you go through with your institutional account will
                also affect how you login to the ImPACT Notary Service.
            </p>
        </div>
    </div>
{% endblock %}