{% extends 'base.html' %}
{% load replace_tags %}

{% block title %}Debug Dashboard{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_nsadmin %}
            {% if user.is_superuser %}
                <div class="container">
                    <h2>Debug Console</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ terminal }}
                        <input type="submit" name="submit_terminal" value="Run"/>
                        (Console commands run on the host/container serving the application)
                    </form>
                    <form method="POST">
                        {% csrf_token %}
                        {{ comanage }}
                        <input type="submit" name="submit_comanage" value="Get Attributes"/>
                        (Query COmanage LDAP instance)
                    </form>
                    <div style="background-color: #062c33;color:whitesmoke;font-family:Courier;
                font-size: 14px;overflow-x: scroll; height: 600px;overflow-y: scroll">
                        {% if output %}
                            <p>{{ output|linebreaks|spacify }}</p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        <div class="container">
            <p>You are not currently logged in or not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}