/* Site footer styling */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: .5rem 0;
    background-color: #555;
    color: white;
    text-align: center;
}

.link {
  color:#14A2CF;
}