.navbar {
  background-color: #555;
  padding: 0 1rem 0 0;
}

.navbar a {
  padding: .5rem;
}

.navbar-brand {
  margin-right: 0;
}

.dropdown-menu {
  background-color: #555;
}

.dropdown-item {
  color: rgba(255,255,255,.5);
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  background-color: #555;
}

#profileCard {
  position: fixed;
  right: 1rem;
  top: 4rem;
  width: 15rem;
  z-index: 999;
  background-color: #555;
  color: #fff;
}

.card-body {
  padding: .75rem;
}

#profileBtn {
  padding: .375rem .5rem;
  border-radius: 50%;
}