/* Site navbar styling in addition to bootstrap */

/* Set backgound color of navbar */
.ns-navbar {
  color: rgba(0, 0, 0, 0.5);
  background-color: #f8f9fa !important;
}

/* Set hover color for navbar item */
.ns-navbar a:hover {
  background-color: #326bb3;
}

/* Set active color for navbar selected/active item */
.nav-item a.active,
.nav-item a:hover {
  border-bottom: 3px #326bb3 solid;
}

.nav-item .dropdown-menu a.active,
.nav-item .dropdown-menu a:hover {
  border-bottom: none;
}
