{% extends 'base.html' %}
{% load static dataset_tags user_tags %}

{% block title %}Infrastructure for Privacy-Assured CompuTations{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if not user.is_norole %}
            <div class="container">
                <div class="post">
                    <br><br>
                    {% if users_from %}

                        <p class="text-black-50">
                            <b>From</b>:
                            {% for u in users_from %}
                                {{ u.display_name }},
                            {% endfor %}
                        </p>
                    {% endif %}
                    {% if users_to %}
                        <p class="text-black-50">
                            <b>To</b>:
                            {% for u in users_to %}
                                {{ u.display_name }},
                            {% endfor %}
                        </p>
                    {% endif %}
                    <h2>{{ message.subject }}</h2>
                    <div class="text-dark" style="background-color: #DCDCDC; padding: 10px;
                    height: 200px; overflow-x: scroll; overflow-y: scroll">
                        {{ message.body|linebreaks|urlize }}
                    </div>

                </div>
                <br>
                <table width="100%" style="font-size: small">
{#                    <tr>#}
{#                        <td style="width: 60%">#}
{#                            <b>Created By:</b> {{ message.created_by }}#}
{#                        </td>#}
{#                        <td>#}
{#                            <b>Modified By:</b> {{ message.modified_by }}#}
{#                        </td>#}
{#                    <tr>#}
                        <td style="width: 60%">
                            <b>Created Date:</b> {{ message.created }}
                        </td>
                        <td>
                            <b>Modified Date:</b> {{ message.modified }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Viewed:</b> {{ message.is_read }}
                            {% if message.is_read %}
                                (<i class="fa fa-fw fa-check" style="color: green;"></i>)
                            {% else %}
                                (<i class="fa fa-fw fa-remove" style="color: #B22222;"></i>)
                            {% endif %}
                        </td>
                    </tr>
                </table>
                <br>
                <button class="btn btn-success mr-2">
                    <a href="{% url 'nsadmin' %}#messages"
                       class="unlink text-white">
                        <i class="fa fa-hand-o-left mr-1"></i> Back
                    </a>
                </button>
            </div>
        {% endif %}
    {% else %}
        <div class="container">
            <p>You are not currently logged in or not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}