/* Site footer styling */
.footer {
  font-size: 0.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #326bb3;
  color: #fff;
  height: 3.5rem;
  width: 100%;
}

.link {
  color: #fff;
  font-weight: 600;
}

.footer a {
  color: #14a2cf;
}
