{% extends 'base.html' %}
{% load static dataset_tags user_tags %}

{% block title %}Infrastructure for Privacy-Assured CompuTations{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_inp or user.is_nsadmin %}
            <div class="container">
                <div class="post">
                    <h1 style="color: #B22222;">Are you sure you want to delete?</h1>
                    <h2>{{ infrastructure.name }}
                        <a href="{% url 'infrastructure_detail' uuid=infrastructure.uuid %}"
                           title="Cancel deletion" class="fa fa-fw fa-ban" style="color: green"></a>
                    </h2>
                    <p>{{ infrastructure.description|linebreaksbr }}</p>
                    <b>Affiliation:</b> {{ infrastructure.affiliation }}
                    <br><br>
                </div>
                <br>
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    {% if used_by %}
                        <input type="submit" value="Delete" style="color: grey" disabled>
                    {% else %}

                        <input type="submit" value="Delete" style="color: #B22222;">
                    {% endif %}
                </form>
                {% if used_by %}
                    <br>
                    <h3 style="color: #B22222;">Cannot Delete</h3>
                    <b>Infrastructure used by Project(s):</b><br>
                    {% for proj in used_by %}
                        - {{ proj.name }}
                        (<a href="{% url 'project_detail' uuid=proj.uuid %}"
                            title="Edit" style="font-family: Courier">
                        {% if user.show_uuid %}
                            {{ proj.uuid }}
                        {% else %}
                            {{ proj.description|truncatechars:"57" }}
                        {% endif %}
                    </a>)<br>
                    {% endfor %}
                {% endif %}
                <br>
                <table width="100%" style="font-size: small">
                    <tr>
                        <td width="60%">
                            <b>Created By:</b> {{ infrastructure.created_by }}
                        </td>
                        <td>
                            <b>Modified By:</b> {{ infrastructure.modified_by }}
                        </td>
                    <tr>
                        <td>
                            <b>Created Date:</b> {{ infrastructure.created_date|date:"m/d/Y g:i a" }}
                        </td>
                        <td>
                            <b>Modified Date:</b> {{ infrastructure.modified_date|date:"m/d/Y g:i a" }}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Validated:</b> {{ infrastructure.is_valid }}
                            {% if infrastructure.is_valid %}
                                (<i class="fa fa-fw fa-check" style="color: green;"></i>)
                            {% else %}
                                (<i class="fa fa-fw fa-remove" style="color: #B22222;"></i>)
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        {% endif %}
    {% else %}
        <div class="container">
            <p>You are not currently logged in or not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}