{% extends 'base.html' %}
{% load static dataset_tags user_tags %}

{% block title %}Infrastructure for Privacy-Assured CompuTations{% endblock %}

{% block content %}
    {% if user.is_nsadmin or user.is_inp or user.is_pi or user.is_ig %}
        {% display_infrastructure as show_infrastructure %}
        {% if show_infrastructure %}
            <div class="container">
                <h1>Infrastructure</h1>
                <div class="bd-callout bd-callout-info">Infrastructure is the collection of compute, storage and network resources owned or
                    managed by an institutional or organizational entity.</div>
                <h3>My Infrastructure
                    {% if user.is_inp or user.is_nsadmin %}
                        <button class="btn btn-success mr-2">
                            <a href="{% url 'infrastructure_new' %}" class="unlink text-white">
                                <i class="fa fa-plus mr-1"></i> Add
                            </a>
                        </button>
                    {% endif %}
                </h3>
                <table class="table table-striped table-bordered mt-4">
                    <tr>
                        <th>Name</th>
                        <th>Validated</th>
                        <th>Description</th>
                        <th>Created Date</th>
                        <th>Last Modified</th>
                    </tr>
                    {% for infra in my_infrastructure %}
                        <tr>
                            <td>
                                <a href="{% url 'infrastructure_detail' uuid=infra.uuid %}">
                                    {{ infra.name }}
                                </a>
                            </td>
                            <td class="text-center">
                                {% if infra.is_valid %}
                                    <i class="fa fa-fw fa-check mr-2" style="color: green;"></i>
                                {% else %}
                                    <i class="fa fa-fw fa-remove mr-2" style="color: firebrick;"></i>
                                {% endif %}
                            </td>
                            <td>{{ infra.description|truncatechars:25 }}</td>
                            <td>{{ infra.created_date }}</td>
                            <td>{{ infra.modified_date }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <h3>Other Infrastructure</h3>
                <table class="table table-striped table-bordered mt-4">
                    <tr>
                        <th>Name</th>
                        <th>Validated</th>
                        <th>Description</th>
                        <th>Created Date</th>
                        <th>Last Modified</th>
                    </tr>
                    {% for infra in other_infrastructure %}
                        <tr>
                            <td>
                                <a href="{% url 'infrastructure_detail' uuid=infra.uuid %}">
                                    {{ infra.name }}
                                </a>
                            </td>
                            <td class="text-center">
                                {% if infra.is_valid %}
                                    <i class="fa fa-fw fa-check mr-2" style="color: green;"></i>
                                {% else %}
                                    <i class="fa fa-fw fa-remove mr-2" style="color: firebrick;"></i>
                                {% endif %}
                            </td>
                            <td>{{ infra.description|truncatechars:25 }}</td>
                            <td>{{ infra.created_date }}</td>
                            <td>{{ infra.modified_date }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    {% else %}
        <div class="container">
            <p>You are not currently logged in or not authorized to view this page</p>
        </div>
    {% endif %}
{% endblock %}