{% extends 'base.html' %}
{% load static %}

{% block title %}Infrastructure for Privacy-Assured CompuTations{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="container">
            <h1>Workflows</h1>
            <p>Workflows are Neo4j graphs where nodes represent the state of personnel or infrastructure
                decision points and relationships represent completed actions between states.</p>
            <i>TODO: put behind user.is_admin check</i>
            <h3>Neo4j Browser</h3>
            <a href="{{ neo4j_vars.neo4j_https }}" target="_blank">{{ neo4j_vars.neo4j_https }}/</a>
            <ul>
                <li><b>Connect URL</b>: {{ neo4j_vars.neo4j_bolt_url }}</li>
                <li><b>Username</b>: {{ neo4j_vars.neo4j_user }}</li>
                <li><b>Password</b>: {{ neo4j_vars.neo4j_pass }}</li>
            </ul>
        </div>
    {% else %}
        <div class="container">
            <p>You are not currently logged in</p>
        </div>
    {% endif %}
{% endblock %}