{% extends 'base.html' %}
{% load static user_tags %}

{% block title %}Infrastructure for Privacy-Assured CompuTations{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% display_workflows as show_workflows %}
    {% if show_workflows %}
      <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <div class="container">
        <h1 class="mt-4">Workflows</h1>
        <p>
          Workflows are Neo4j graphs where nodes represent the state of personnel or infrastructure
          decision points and relationships represent completed actions between states.</p>
          {% if user.is_nsadmin %}
            <h3>Neo4j Browser</h3>
            <a href="{{ neo4j_vars.neo4j_https }}" target="_blank">{{ neo4j_vars.neo4j_https }}/</a>
            <ul>
              <li><b>Connect URL</b>: {{ neo4j_vars.neo4j_bolt_url }}</li>
              <li><b>Username</b>: {{ neo4j_vars.neo4j_user }}</li>
              <li><b>Password</b>: {{ neo4j_vars.neo4j_pass }}</li>
            </ul>
          {% endif %}
          <h3>My Workflows</h3>
          <table class="collapse show table table-striped table-bordered text-center mt-2">
            <tr class="font-weight-bold">
              <td>Name</td>
              <td>Affiliation</td>
              <td>
                {% if user.show_uuid %}
                  UUID
                {% else %}
                  Description
                {% endif %}
              </td>
              <td>Provenance</td>
            </tr>
            {% for workflow in workflows %}
              <tr>
                <td>{{ workflow.name }}</td>
                <td>{{ workflow.affiliation }}</td>
                {#                            <td>{% if workflow.loaded_in_neo4j %}#}
                {#                                <i class="fa fa-fw fa-check text-success"></i>#}
                {#                            {% else %}#}
                {#                                <i class="fa fa-fw fa-remove text-danger"></i>#}
                {#                            {% endif %}#}
                {#                            </td>#}
                <td class="courier-font-link">
                  <a 
                    href="{% url 'workflow_detail' uuid=workflow.uuid %}"
                    title="Workflow Details"
                  >
                    {% if user.show_uuid %}
                        {{ workflow.uuid }}
                    {% else %}
                        {{ workflow.description|truncatechars:"57" }}
                    {% endif %}
                  </a>
                </td>
                <td>D: {{ workflow.dataset.name }}<br>T: {{ workflow.template.name }}</td>
              </tr>
            {% endfor %}
          </table>
      </div>
    {% endif %}
  {% else %}
    <div class="container">
      <p>You are not currently logged in or not authorized to view this page</p>
    </div>
  {% endif %}
{% endblock %}