# Settings for environment. Notes:
#
#  - Since these are bash-like settings, there should be no space between the
#    variable name and the value (ie, "A=B", not "A = B")
#  - Boolean values should be all lowercase (ie, "A=false", not "A=False")

# Debug - set to false in production
export DEBUG=true

# Kafka configuration
export KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
export KAFKA_DATA_PATH_HOST=./kafka
export KAFKA_LISTENERS=PLAINTEXT://:9092
export KAFKA_SEND_KEY=ns-dev-1
export KAFKA_SERVERS=kafka:9092
export KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181

# LDAP - values provided by CILogon staff
export LDAP_HOST=''
export LDAP_PASSWORD=''
export LDAP_SEARCH_BASE=''
export LDAP_USER=''

# Neo4j configuration
export NEO4J_BOLT_URL=bolt://neo4j:7687
export NEO4J_DATA_PATH_DOCKER=/data
export NEO4J_DATA_PATH_HOST=./neo4j/data
export NEO4J_GID=1000
export NEO4J_HOST=neo4j
export NEO4J_IMPORTS_PATH_DOCKER=/imports
export NEO4J_IMPORTS_PATH_HOST=./neo4j/imports
export NEO4J_LOGS_PATH_DOCKER=/logs
export NEO4J_LOGS_PATH_HOST=./neo4j/logs
export NEO4J_PASS=password
export NEO4J_UID=1000
export NEO4J_USER=neo4j

# Notary Service
export NS_NAME=localhost
export NS_PRESIDIO_JWT_PUBLIC_KEY_PATH=''
export NS_PRESIDIO_JWT_PRIVATE_KEY_PATH=''

# OIDC CILogon / COmanage - values provided when OIDC client is created
export OIDC_RP_CLIENT_ID=''
export OIDC_RP_CLIENT_SECRET=''
export OIDC_RP_CALLBACK='https://127.0.0.1:8443/oidc/callback/'

# PostgreSQL database - default values should not be used in production
export PGDATA=/var/lib/postgresql/data
export POSTGRES_DB=postgres
export POSTGRES_HOST=database
export POSTGRES_PASSWORD=postgres
export POSTGRES_PORT=5432
export POSTGRES_USER=postgres

# SAFE server
export SAFE_SERVER=safe
export SAFE_SERVER_PORT=7777
export RIAK_IP=riak
export RIAK_PORT=8098
export SLANG_SCRIPT=impact/mvp-ns.slang
export AKKA_LOG_LEVEL=info
export SAFE_IMPORTS=./safe/imports
export SAFE_PRINCIPAL_KEYS=./safe/keys
export SAFE_PRINCIPAL_PUBKEY=./safe/keys/ns.pub

# uWSGI service in Django
export UWSGI_GID=1000
export UWSGI_UID=1000
