{% extends 'base.html' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .collapsible {
            background-color: #f8f9fa!important;
            color: #424242;
            cursor: pointer;
            padding: 12px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 24px;
        }

        .collapsible:hover {
            background-color: #326bb3;
            color: #CCC;
        }

        .content {
            padding: 0 18px;
            display: block;
            overflow: hidden;
            background-color: #f1f1f1;
        }
    </style>
{% endblock %}

{% block title %}Infrastructure for Privacy-Assured CompuTations{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Frequently Asked Questions</h1>
        <button class="collapsible">
            {#            <h3>What does Role mean?</h3>#}
            <i class="fa fa-fw fa-question-circle"></i> What does Role mean?
        </button>
        <div class="content">
            <p><br>
                The user's Role determines their ability to create, read, update and delete various items within Notary
                Service. Role's are selected from the Preferences section of the user's profile page. A user can only
                operate as one role at a time. If a user has multiple roles available to them, they can switch
                between the available roles to accomplish different tasks.
            </p>
            <p><b>Possible Roles:</b></p>
            <ul>
                <li>
                    <b>Administrator</b><br>
                    Full administrative rights over notary service deployment<br>
                    - Can create, read, update, and delete templates<br>
                    - Can create, read, update, and delete datasets<br>
                    - Can create, read, update, and delete infrastructure<br>
                    - Can create, read, update, and delete projects<br>
                    - Can create, read, update, and delete workflows<br>
                </li>
                <li>
                    <b>Data Provider</b><br>
                    Can create, read, update, and delete templates<br>
                    Can create, read, update, and delete datasets<br>
                    Per project association where dataset is used<br>
                    - Can read templates<br>
                    - Can read datasets<br>
                    - Can read infrastructure<br>
                    - Can read projects<br>
                    - Can complete workflows<br>
                </li>
                <li>
                    <b>Infrastructure Provider</b><br>
                    Can create, read, update, and delete infrastructure<br>
                    Per project association where infrastructure is used<br>
                    - Can read datasets<br>
                    - Can read infrastructure<br>
                    - Can read projects<br>
                    - Can complete workflows<br>
                </li>
                <li>
                    <b>Institutional Governance</b><br>
                    Per project association where institution/organization contains PI member<br>
                    - Can create read datasets<br>
                    - Can create read infrastructure<br>
                    - Can create read projects<br>
                    - Can create complete workflows<br>
                </li>
                <li>
                    <b>No Role</b><br>
                    Access limited to About, FAQ and profile page<br>
                </li>
                <li>
                    <b>Project Member</b><br>
                    Per project association that contains Project Member<br>
                    - Can read datasets<br>
                    - Can read infrastructure<br>
                    - Can read projects<br>
                    - Can complete workflows<br>
                </li>
                <li>
                    <b>Project PI</b><br>
                    Per project association that contains Project PI<br>
                    - Can read datasets<br>
                    - Can read infrastructure<br>
                    - Can read projects<br>
                    - Can complete workflows<br>
                </li>
                <li>
                    <b>Project PI Admin</b><br>
                    Can create, read, update, and delete projects<br>
                    Can create, read, update, and delete workflows<br>
                    Per project association that contains Project PI Admin<br>
                    - Can read templates<br>
                    - Can read datasets<br>
                    - Can read infrastructure<br>
                    - Can read projects<br>
                    - Can complete workflows<br>
                </li>
            </ul>
        </div>
    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
{% endblock %}