{% extends 'base.html' %}
{% load static user_tags %}
{% block title %}ImPACT Notary Service - Frequently Asked Questions{% endblock %}

{% block content %}
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <div class="container">
    <h1 class="mt-4">Frequently Asked Questions</h1>
    <h4
      id="question"
      class="card-header my-4"
      data-toggle="collapse"
      data-target="#answer1"
      aria-expanded="true"
      aria-controls="answer1"
    >
      What does Role mean?
      <span class="attributes-collapse pull-right">
        <i class="fa fa-plus"></i>
        <i class="fa fa-minus"></i>
      </span>
    </h4>
    <div
      id="answer1"
      class="collapse show table table-striped table-bordered py-2 px-4"
      aria-labelledby="answer1"
    >
      <p><br>
          The user's Role determines their ability to create, read, update and delete various items within Notary
          Service. Role's are selected from the Preferences section of the user's profile page. A user can only
          operate as one role at a time. If a user has multiple roles available to them, they can switch
          between the available roles to accomplish different tasks.
      </p>
      <table class="table table-striped table-bordered">
        <tr class="font-weight-bold">
            <td>Possible Roles</td>
            <td>Privileges</td>
        </tr>
        <tr>
          <td>Administrator</td>
          <td>
            Full administrative rights over notary service deployment<br>
            - Can create, read, update, and delete templates<br>
            - Can create, read, update, and delete datasets<br>
            - Can create, read, update, and delete infrastructure<br>
            - Can create, read, update, and delete projects<br>
            - Can create, read, update, and delete workflows<br>
          </td>
        </tr>
        <tr>
          <td>Data Provider</td>
          <td>
            Can create, read, update, and delete templates<br>
            Can create, read, update, and delete datasets<br>
            Per project association where dataset is used<br>
            - Can read templates<br>
            - Can read datasets<br>
            - Can read infrastructure<br>
            - Can read projects<br>
            - Can complete workflows<br>
          </td>
        </tr>
        <tr>
          <td>Infrastructure Provider</td>
          <td>
            Can create, read, update, and delete infrastructure<br>
            Per project association where infrastructure is used<br>
            - Can read datasets<br>
            - Can read infrastructure<br>
            - Can read projects<br>
            - Can complete workflows<br>
          </td>
        </tr>
        <tr>
          <td>Institutional Governance</td>
          <td>
            Per project association where institution/organization contains PI member<br>
            - Can create read datasets<br>
            - Can create read infrastructure<br>
            - Can create read projects<br>
            - Can create complete workflows<br>
          </td>
        </tr>
        <tr>
          <td>Project Member</td>
          <td>
            Per project association that contains Project Member<br>
            - Can read datasets<br>
            - Can read infrastructure<br>
            - Can read projects<br>
            - Can complete workflows<br>
          </td>
        </tr>
        <tr>
          <td>Project PI</td>
          <td>
            Per project association that contains Project PI<br>
            - Can read datasets<br>
            - Can read infrastructure<br>
            - Can read projects<br>
            - Can complete workflows<br>
          </td>
        </tr>
        <tr>
          <td>Project PI Admin</td>
          <td>
            Can create, read, update, and delete projects<br>
            Can create, read, update, and delete workflows<br>
            Per project association that contains Project PI Admin<br>
            - Can read templates<br>
            - Can read datasets<br>
            - Can read infrastructure<br>
            - Can read projects<br>
            - Can complete workflows<br>
          </td>
        </tr>
        <tr>
          <td>No Role</td>
          <td>Access limited to About, FAQ and profile page</td>
        </tr>        
      </table>
    </div>
  </div>
{% endblock %}